* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1C1A20;
}

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url("images/abstract.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.head0 {
    position: absolute;
    font-family: "Segoe UI", serif;
    color: white;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 35%;
    font-size: 11vmin;
}

.head1 {
    position: absolute;
    font-family: "Segoe UI", serif;
    font-style: normal;
    color: white;
    font-size: 3.5vmin;
    left: 50%;
    top: 46%;
    transform: translate(-50%, -50%);
    font-weight: normal;
}

.install-fast:hover {
    zoom: 110%;
}

.install-fast {
    cursor: pointer;
    position: absolute;
    background-color: #00ffba;
    height: 6vmin;
    width: 25vmin;
    border-radius: 46px;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
    transition: 1s;
}

#social-links {
    background-color: white;
    position: absolute;
    left: 50%;
    height: 50vmin;
    width: 100%;
    top: 250%;
    transform: translate(-50%, -50%);
}

#install-fast-text {
    cursor: pointer;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-weight: normal;
    font-family: "Segoe UI", serif;
    color: white;
}

#impress {
    background-color: #1C1A20;
    position: absolute;
    left: 50%;
    height: 5vmin;
    width: 80vmin;
    top: 150%;
    transform: translate(-50%, -50%);
}

#abstract-color-pink-0 {
    width: 80vmin;
    position: absolute;
    left: 0;
    top: 180%;
    z-index: 20;
    transform: translate(-50%, -50%);
}

#abstract-color-pink-1 {
    width: 80vmin;
    position: absolute;
    right: -19%;
    top: 230%;
    z-index: 20;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

#content {
    position: absolute;
    display: flex;
    left: 50%;
    top: 120%;
    font-family: "Segoe UI", serif;
    color: white;
    transform: translate(-50%, -50%);
}

.content-img:hover {
    transform: scale(1.5);
}

#content-0 {
    padding-right: 10vmin;
}

#content-2 {
    padding-left: 10vmin;
}

.content-cart {
    text-align: center;
    white-space: nowrap;
}

.content-text {
    width: 10vmin;
}

.content-header {
    padding-bottom: 4vmin;
}

.content-img {
    -webkit-filter: invert(100%);
    padding-bottom: 3vmin;
    filter: invert(100%);
    width: 5vmin;
    transition: 500ms;
}

::-webkit-scrollbar {
    width: 0;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}